<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <% prj = JSON.parse(prj) %> 
    <% tags = JSON.parse(tags) %> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="">
  </head>
  <body>
    
  <center>
    <div class="CoverPhoto" style="background-image: url(<%= ((split) => {return `${split[0]}images/resize/720x720/${split[1]}`})(prj.image_url.split("images/")) %>)" >
      <h1 class="projectWords detailsTitle" > <%- prj.name %>  </h1>
    </div>
    <div class="detailsContainer textContainer">
      <%- prj.description %> 
    </div>
  </center>

  <div class="recContainer">
    <% prj.tags.forEach( tag => { %>
      <h2> <%= `${tags[tag][0].name}` %> </h2>
    <% }) %>  
  </div>
      
    <script src="" async defer></script>
  </body>
</html>